client/node_modules
client/pnp.js
.idea/
# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.gitignore

api/.venv/
api/.env
api/.flaskenv

api/*.pyc
api/__pycache__/

api/instance/

api/.pytest_cache/
api/.coverage
api/htmlcov/

api/dist/
api/build/
api/*.egg-info/
